
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
	background: black;
}

.background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 0;
}

header ul li a {
	color: white;
	text-decoration: none;
	transition: .1s linear;
}

header ul li a:hover {
	color: #383c4a;
	text-decoration: none;
}

header ul li {
	display: flex;
	padding: 10px;
}

header ul {
	display: flex;
	padding: 10px;
	margin: 10px;

}

main li {
	display: flex;
}
main ul {
	display: flex;
	/*padding: 5px;*/
	margin: 10px;
}

main {
	font-family: "Josefin Sans";
}

header {
	font-family: monospace;
	display: flex;
	background: darkred;
	border-radius: 12px;
}

header h2 {
	font-family: "Satisfy";
	background: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: -10px;
	border-top-right-radius: -10px;
	border-top-left-radius: 10px;
	margin: 10px;
	padding: 10px;
	color: red;
}

main h3 {
	font-family: monospace;
	color: white;
	background: #1d1d1d;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}
main ul li p {
	font-family: monospace;
	color: black;
	background: #404552;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}

article {
	color: white;
	background: darkred;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}